@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #FF3D00;
  --color-primary-dull: #1E1E1E;
}

*{
 	scrollbar-width: thin;
  scrollbar-color: #787777 #1E1E1E;
 	font-family: 'Outfit', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #09090B;
  color: white;
} 

.no-scrollbar {
  scrollbar-width: none;
}